*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this defines 1rem is 10px instead of 16px; */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 5rem;
  color: #333;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

.container {
  border: 1px black solid;
  max-width: 70rem;
  margin: 0 auto;
  height: 90vh;
}

.header {
  position: relative;
  text-align: left;
  padding: 3rem 5rem;
  height: 13%;
}

.title {
  font-size: 5.5rem;
  display: inline-block;
  margin-right: 3rem;
}

.full-title {
}

.small-title {
  display: none;
}

.logo {
  display: inline-block;
  width: 7rem;
  /* position: absolute;
  top: 50%;
  right: 10%; */
  transform: translate(0%, 25%);
}

.main {
  height: 87%;
  position: relative;
}

.player-box {
  height: 50%;
  text-align: center;
}

.player-name {
  text-align: center;
  display: block;
  font-size: 6.5rem;
  height: 7rem;
  letter-spacing: 25px;
  text-transform: uppercase;
  position: relative;
}
.hands-container {
  display: inline;
}
.hand-image {
  position: absolute;
  width: 40rem;
  display: inline;
}
.opponent-scissor {
  left: -10%;
}
.opponent-paper {
  left: 22%;
}
.opponent-rock {
  right: -12%;
}

.results {
  position: absolute;
  transform: translate(50%, -50%);
  right: 50%;
  top: 44%;
  text-align: center;
  width: 100%;
  padding: 2rem 1rem;
  background-color: lightblue;
  z-index: 2;
}

.results-text {
  font-size: 6rem;
}

.opponent {
  padding-top: 6rem;
}
.opponent-top {
  position: absolute;
  right: 50%;
  top: 0%;
  transform: translate(50%, 0%);
}

.user {
  padding-bottom: 5rem;
}
.user-bottom {
  position: absolute;
  right: 50%;
  bottom: 0%;
  transform: translate(50%, 0%);
}

.user-hand {
  position: absolute;
}

.user-rock {
  left: -10%;
}
.user-paper {
  left: 22%;
}
.user-scissor {
  right: -12%;
}

.position-relative {
  position: relative;
  height: 95%;
}

.btn,
.btn:link,
.btn:visited {
  border: 1px solid black;
  display: inline-block;
  border-radius: 20px;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 600;
  transition: all 0.5s;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.btn:hover {
  background-color: aliceblue;
}

.btn:after {
  content: "";
  transform: translate(scale(1.5));
  opacity: 1;
}

.btn:active:after {
  opacity: 1;
}
.fade-out {
  /* animation: fadeToHide 1s; */
visibility: hidden;
opacity: 0;
transition: visibility 1s, opacity 1s ease-in;
}
.hide {
    display: none;
}
.show {
    /* animation: fadeToShow 1s; */
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease-in;
}

/* @keyframes fadeToHide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeToShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

